.article-detail-edit {
  padding: 1rem;
  display: grid;
  grid-gap: 1rem 1rem;
  grid-template-columns: repeat(1, 1fr);
}

@media (min-width: 767px) {
  .article-detail-edit {
    padding: 2rem;
    grid-template-columns: repeat(2, 1fr);
  }
}

.form-control {
  margin: 10px;
  padding: 10px;
}

.form-control label {
  display: block;
}

.form-control input {
  width: 100%;
}

.form-control textarea {
  width: 100%;
}

.form-control.content {
  grid-column-start: 1;
  grid-column-end: 3;
}

.form-control.published input {
  width: auto;
}
